---
import '../styles/index.css';
const introduction = await Astro.glob('../contents/introduction.md');
---

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="/favicon.svg">
        <title>Gomoku Documentation</title>
        <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
    </head>
    <body>
        <div class="container">
            <aside class="sidebar">
                <div class="sidebar-header">
                    <a href="#" data-file="../src/contents/introduction.md"><h2 class="title">Gomoku</h2></a>
                </div>
                <ul class="sidebar-links">
                    <h4>
                        <span class="category">Project</span>
                        <div class="menu-separator"></div>
                    </h4>
                    <li>
                        <a href="#" data-file="../src/contents/project/test.md">Game</a>
                    </li>
                    <li>
                        <a href="#" data-file="../src/contents/project/specifications.md">Specifications</a>
                    </li>
                    <li>
                        <a href="#" data-file="../src/contents/project/analytic.md">Analytic</a>
                    </li>
                    <h4>
                        <span class="category">Graphic</span>
                        <div class="menu-separator"></div>
                    </h4>
                    <li>
                        <a href="#" data-file="../src/contents/graphic/projects.md">Projects</a>
                    </li>
                    <li>
                        <a href="#" data-file="../src/contents/graphic/groups.md">Groups</a>
                    </li>
                    <li>
                        <a href="#" data-file="../src/contents/graphic/transfer.md">Transfer</a>
                    </li>
                    <li>
                        <a href="#" data-file="../src/contents/graphic/all-reports.md">All Reports</a>
                    </li>
                    <li>
                        <a href="#" data-file="../src/contents/graphic/notifications.md">Notifications</a>
                    </li>
                    <h4>
                        <span class="category">Algorithm</span>
                        <div class="menu-separator"></div>
                    </h4>
                    <li>
                        <a href="#" data-file="../src/contents/algorithm/profile.md">Profile</a>
                    </li>
                    <li>
                        <a href="#" data-file="../src/contents/algorithm/settings.md">Settings</a>
                    </li>
                </ul>
                <div class="github-logo">
                    <a href="https://github.com/HenriUwU/gomoku"><img class="github" src="/github.svg"></a>
                </div>
            </aside>
            <div class="main-content">
                {introduction.map((intro) =>
                    <intro.Content />
                )}
            </div>
        </div>
		<script src="../scripts/loadContent.js"></script>
    </body>
</html>
