---
import '../styles/index.css';
const introduction = await Astro.glob('../contents/introduction.md');
import Sidebar from '../layouts/Sidebar.astro';
---

<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" type="image/x-icon" href="/gomoku/favicon.svg">
		<title>Gomoku Documentation</title>
		<script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
	</head>
	<body>
		<div class="container">
			<Sidebar />
			<div class="main-content">
				{introduction.map((intro) =>
					<intro.Content />
				)}
			</div>
		</div>
	</body>
</html>
