---
import '../styles/index.css';
const introduction = await Astro.glob('../contents/introduction.md');
import Sidebar from '../layouts/Sidebar.astro';
---

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="/gomoku/favicon.svg">
        <title>Gomoku Documentation</title>
        <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
    </head>
    <body>
        <div class="container">
            <Sidebar />
            <!-- <aside class="sidebar">
                <div class="sidebar-header">
                    <a href="#" data-file="../src/contents/introduction.md"><h2 class="title">Gomoku</h2></a>
                </div>
                <ul class="sidebar-links">
                    <h4>
                        <span class="category">Project</span>
                        <div class="menu-separator"></div>
                    </h4>
                    <li>
                        <a href="#Subject" data-file="../src/contents/project/subject.md">Subject</a>
                    </li>
                    <li>
                        <a href="#Team" data-file="../src/contents/project/team.md">Team</a>
                    </li>
                    <li>
                        <a href="#Toolbox" data-file="../src/contents/project/toolbox.md">Toolbox</a>
                    </li>
                    <li>
                        <a href="#Resources" data-file="../src/contents/project/resources.md">Resources</a>
                    </li>
                    <h4>
                        <span class="category">Algorithm</span>
                        <div class="menu-separator"></div>
                    </h4>
                    <li>
                        <a href="#Minimax" data-file="../src/contents/algorithm/minimax.md">Minimax</a>
                    </li>
                    <li>
                        <a href="#Alpha-beta" data-file="../src/contents/algorithm/alpha_beta.md">Alpha-beta</a>
                    </li>
                    <h4>
                        <span class="category">Graphic</span>
                        <div class="menu-separator"></div>
                    </h4>
                    <li>
                        <a href="#Game" data-file="../src/contents/graphic/game.md">Game</a>
                    </li>
                    <li>
                        <a href="#SFML" data-file="../src/contents/graphic/sfml.md">SFML</a>
                    </li>
                    <li>
                        <a href="#GIF" data-file="../src/contents/graphic/gif.md">GIF</a>
                    </li>
                    <h4>
                        <span class="category">Music</span>
                        <div class="menu-separator"></div>
                    </h4>
                    <li>
                        <a href="#Music" data-file="../src/contents/music/music.md">Music</a>
                    </li>
                    <h4>
                        <span class="category">Bonuses</span>
                        <div class="menu-separator"></div>
                    </h4>
                    <li>
                        <a href="#Customization" data-file="../src/contents/bonuses/customization.md">Customization</a>
                    </li>
                    <li>
                        <a href="#AIModes" data-file="../src/contents/bonuses/ai_modes.md">AI Modes</a>
                    </li>
                    <li>
                        <a href="#Help" data-file="../src/contents/bonuses/help.md">Help</a>
                    </li>
                    <li>
                        <a href="/gomoku/bonuses/documentation">Documentation</a>
                    </li>
                    <li>
                        <a href="#Docker" data-file="../src/contents/bonuses/docker.md">Docker</a>
                    </li>
                </ul>
                <div class="github-logo">
                    <a href="https://github.com/HenriUwU/gomoku"><img class="github" src="/gomoku/github.svg"></a>
                </div>
            </aside> -->
            <div class="main-content">
                {introduction.map((intro) =>
                    <intro.Content />
                )}
            </div>
        </div>
    </body>
</html>
